<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="samplesection" type="Bebox.Toolkit.Tests.Integration.SampleConfigurationHandler, Bebox.Toolkit.Tests.Integration" />
	</configSections>
	<samplesection>
		<SampleParentClass>
			<Surname>Lumbs</Surname>
			<Name>John</Name>
			<Children>
				<SampleChild>
					<Value>1</Value>
				</SampleChild>
				<SampleChild>
					<Value>2</Value>
				</SampleChild>
			</Children>
		</SampleParentClass>
	</samplesection>
</configuration>